net     clk      loc = ab12;     
net     rstb     loc = u14;
NET "RSTB" CLOCK_DEDICATED_ROUTE = TRUE; 

NET lcd_clk     	LOC = V16;
NET de    			LOC = U16;
 
NET data_out<15>     LOC = AA17;
NET data_out<14>     LOC = Y17 ;
NET data_out<13>     LOC = W17 ;
NET data_out<12>     LOC = V17 ;
NET data_out<11>     LOC = AB18;
NET data_out<10>     LOC = AA18;
NET data_out<9>      LOC = Y18 ;
NET data_out<8>      LOC = W18 ;
NET data_out<7>      LOC = AB19;
NET data_out<6>      LOC = AA19;
NET data_out<5>      LOC = AB20;
NET data_out<4>      LOC = AA20;
NET data_out<3>      LOC = Y16 ;
NET data_out<2>      LOC = V18 ;
NET data_out<1>      LOC = AB13;
NET data_out<0>      LOC = W14 ;

#external GPIO
NET GPIO_IN<0> LOC = U18;
NET GPIO_IN<1> LOC = V21;
NET GPIO_IN<2> LOC = V20;
NET GPIO_IN<3> LOC = W20;
NET GPIO_IN<4> LOC = W19;
NET GPIO_IN<5> LOC = Y22;
NET GPIO_IN<6> LOC = Y19;
NET GPIO_IN<7> LOC = Y21;

## WARNING : Network device is using these pins.
## 			 Using it will disable any TCP/IP network connection with device.
#NET CPU_DATA<0> LOC = W6;
#NET CPU_DATA<1> LOC = V6;
#NET CPU_DATA<2> LOC = AA6;
#NET CPU_DATA<3> LOC = Y6;
#NET CPU_DATA<4> LOC = Y7;
#NET CPU_DATA<5> LOC = W7;
#NET CPU_DATA<6> LOC = AB7;
#NET CPU_DATA<7> LOC = AA7;
#NET CPU_DATA<8> LOC = W8;
#NET CPU_DATA<9> LOC = V8;
#NET CPU_DATA<10> LOC = AB8;
#NET CPU_DATA<11> LOC = AA8;
#NET CPU_DATA<12> LOC = W9;
#NET CPU_DATA<13> LOC = V9;
#NET CPU_DATA<14> LOC = AB9;
#NET CPU_DATA<15> LOC = AA9;

NET GPIO_OUT<0> LOC = U21;
NET GPIO_OUT<1> LOC = T17;
NET GPIO_OUT<2> LOC = V22;
NET GPIO_OUT<3> LOC = U19;
NET GPIO_OUT<4> LOC = W21;
NET GPIO_OUT<5> LOC = V19;
NET GPIO_OUT<6> LOC = W22;
NET GPIO_OUT<7> LOC = Y20;

#LEDs
#1st line
NET LED[0] LOC = N3;
NET LED[1] LOC = N2;
NET LED[2] LOC = N1;
NET LED[3] LOC = M6;
NET LED[4] LOC = M5;
NET LED[5] LOC = M4;
NET LED[6] LOC = M3;

#2nd line
NET LED[7] LOC = M2;
NET LED[8] LOC = C22;
NET LED[9] LOC = L21;
NET LED[10] LOC = L22;
NET LED[11] LOC = W16;
NET LED[12] LOC = V14;
NET LED[13] LOC = V13;
NET LED[14] LOC = V12;

#3rd line
NET LED[15] LOC = Y12;
NET LED[16] LOC = Y1;
NET LED[17] LOC = W4;
NET LED[18] LOC = W3;
NET LED[19] LOC = W2;
NET LED[20] LOC = U2;
NET LED[21] LOC = T3;
NET LED[22] LOC = H2;
NET LED[23] LOC = L2;

#Buzzer
#NET BZ LOC = AB15;